
        body{
            background-image: url("../images/design/fonto.jpg");
            background-attachment: scroll;
            background-clip: border-box;
            background-origin: padding-box;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: auto auto;
            background-size: 100% auto;
             margin-top: 12%;

        }
        
   .header {
        color:#fff;
        font-size:27px;
        padding:10px;
    }
    .bigicon {
        font-size:35px;
        color:#fFF;
    
}
