{% extends 'ArisAdminBundle::layout.html.twig' %}

{% block body -%}
    <div class="col-xs-6 col-md-offset-3">
    <h1>Creación de galeria</h1>
    
     <a class="btn btn-info" href="{{ path('galeria') }}">
            Atrás
        </a>

    {{ form(form) }}

      
       </div>
   
{% endblock %}
